body {
    background-color: black;
    color: white;
}
body {
    font-family:"Chakara Petch", sans-serif;
}
h1 {
    font-size: 40px;
    justify-content: center
}
p {
       font-size: 20px; }